{% extends 'base.html' %}

{% block content %}
<link rel = "stylesheet" type = "text/css" href = "/static/basic/css/history.css" />
<div class="container-fluid history-container">
  <div class="history-text">History</div>
  <div class="history-intro">View your transaction history by clicking on any of the categories below. </div>
  <div class="history-list-container">
    <div class="link-box">
      <a href="" class="history-link" data-toggle="collapse" data-target="#add"> Exchanges</a>
    </div>
      <div id="add" class="collapse">
        {% if orders %}
            <h1 class="history-header">Active Orders</h1>

          <table class="table history">
            <tr>
              <th> Name </th>
              <th> From </th>
              <th> To </th>
              <th> Amount left to exchange </th>
              <th> Status </th>
              <th> Date </th>
              <th> Time </th>
            </tr>
            {% for order in orders reversed %}
            <tr>
              <td>{{ order.user }}</td>
              <td>{{ order.home_currency }}</td>
              <td>{{ order.target_currency }}</td>
              <td>{{ order.home_currency_amount }}</td>
              <td>{{ order.status }}</td>
              <td>{{ order.date }}</td>
              <td>{{ order.time }}</td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% if completed_orders %}
<h1 class="history-header">Completed Orders</h1>
      <table class="table">
        <tr>
          <th> Name </th>
          <th> From </th>
          <th> To </th>
          <th> Status </th>
          <th> Date </th>
          <th> Time </th>
        </tr>
        {% for order in completed_orders reversed %}
        <tr>
          <td>{{ order.user }}</td>
          <td>{{ order.home_currency }} {{ order.home_currency_amount }}</td>
          <td>{{ order.target_currency }} {{ order.target_currency_amount }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.date }}</td>
          <td>{{ order.time }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>



    <div class="link-box">
      <a href="" class="history-link" data-toggle="collapse" data-target="#op">Operations</a>
    </div>
  <div id="op" class="collapse">
    <table class="table">
      <tr>
        <th> Name </th>
        <th> Currency </th>
        <th> Amount </th>
        <th> Type of transaction </th>
        <th> Date </th>
        <th> Time </th>
      </tr>
      {% for order in operations_list reversed %}
      <tr>
        <td>{{ order.user }}</td>
        <td>{{ order.currency }}</td>
        <td style="color:{% if order.optype == 'withdraw' %} red {% else %} green {% endif %}">{{ order.amount }}</td>
        <td>{{ order.optype }}</td>
        <td>{{ order.date }}</td>
        <td>{{ order.time }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="link-box">
    <a href="" class="history-link" data-toggle="collapse" data-target="#transf">Transfers</a>
</div>
<div id="transf" class="collapse">
  <table class="table">
    <tr>
      <th> From </th>
      <th> To </th>
      <th> Currency </th>
      <th> Amount </th>
      <th> Date </th>
      <th> Time </th>
    </tr>
    {% for order in transfer_list reversed %}
    <tr>
      <td>{{ order.user }}</td>
      <td>{{ order.user2 }}</td>
      <td>{{ order.currency }}</td>
      <td>{{ order.amount }}</td>
      <td>{{ order.date }}</td>
      <td>{{ order.time }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="marginfix">
<div class="link-box">
  <a href="" class="history-link" data-toggle="collapse" data-target="#pay">Payments</a>
</div>
<div id="pay" class="collapse">
<table class="table">
  <tr>
    <th> Seller </th>
    <th> Product </th>
    <th> Type </th>
    <th> Price </th>
    <th> Currency </th>
    <th> Date </th>
    <th> Time </th>
  </tr>
  {% for order in payment_list reversed %}
  <tr>
    <td>{{ order.seller }}</td>
    <td>{{ order.name }}</td>
    <td>{{ order.p_type }}</td>
    <td>{{ order.price }}</td>
    <td>{{ order.currency }}</td>
    <td>{{ order.date }}</td>
    <td>{{ order.time }}</td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
</div>
</div>
{% endblock %}
